.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;

  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 8px;
    font-size: 20px;
  }

  .link.active {
    background-color: var(--primary-color);
    color: #fff;
    box-shadow: 0 8px 24px 0 rgba(234, 124, 105, 0.32);;
  }
}