.wrapper {
  padding: 14px 35px;
  border-radius: 8px;
  font-weight: 600;
  display: flex;
  align-items: center;
  border: 1px solid var(--primary-color);

  &:active {
    transform: scale(0.95);
  }

  .extra {

  }
  .main {
    text-align: center;
  }
  .before {

  }
  .after {

  }
}

.wrapper.fill {
  width: 100%;
}

.wrapper.outlined {
  background-color: none;
  color: var(--primary-color);

  &:hover {
    background-color: var(--primary-color);
    color: var(--white);
  }
}
.wrapper.solid {
  background-color: var(--primary-color)
}

.wrapper.icon {
  .iconContent {
    
  }
}

.wrapper.icon {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}