.wrapper {
  display: flex;
  align-items: center;
  border-radius: 8px;
  border-radius: 8px;
  border: 1px solid var(--base-dark-line);
  background-color: var(--base-form-bg);
  padding: 14px;
  cursor: pointer;

  input {
    color: var(--white);

    &::placeholder {
      color: var(--text-light);
    }
  }
}

.wrapper {
  .extra {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .extra.before {
    margin-right: 8px;
  }
  .extra.after {
    margin-left: 8px;
  }
}

.wrapper.focused {
  border-color: var(--white);
}

.wrapper.error {
  border-color: red;
}

.wrapper.success {
  border-color: var(--accents-green)
}

.wrapper.loading {}