* {
  outline: none;
}
body {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--white);
  width: 100%;
  height: 100%;
  background-color: var(--base-dark-bg-1);
  overflow-x: hidden;
}

[class^="ant-"],
[class*=" ant-"] {
  font-family: 'Barlow', sans-serif !important;
}


.component-border {
  border: 1px dashed #fff;
}

.def-transition {
  transition: all .2s ease;
}

.block-feature {
  box-shadow: 0px 0px 0px 2px solid blue;
}
.block-widget {
  box-shadow: inset 0px 0px 0px 1px green;
}
.block-entity {
  box-shadow: inset 0px 0px 0px 1px yellow;
}

.custom-scroll {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 8px;
  }
  &::-webkit-scrollbar-button {}
  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 8px;

  }
  &::-webkit-scrollbar-track {
    background-color: var(--base-dark-line);
    border-radius: 8px;
  }
}



a {
  transition: all .2s ease;
  color: var(--white);
  &:hover {
    color: var(--primary-color);
  }
}