.wrapper {
  color: var(--primary-color);
  background-color: var(--base-dark-bg-2);
  border: 1px solid var(--base-dark-line);
  font-weight: 500;
  padding: 7px 12px;
  border-radius: 8px;
  
  &:hover {
    border-color: var(--primary-color);
  }
}

.wrapper.active {
  color: var(--white);
  background-color: var(--primary-color);
}